alabaster==0.7.10
Babel==2.5.1
backports.functools-lru-cache==1.4
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.1.0
numpy==1.13.3
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
PySoundFile==0.9.0.post1
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
requests==2.18.4
scikit-learn==0.19.1
scikits.talkbox==0.2.5
scipy==1.0.0
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
subprocess32==3.2.7
typing==3.6.2
urllib3==1.26.5
